@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
/* Logo Linkedin */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
/* Logo Github */


*{
    margin: 0px;
}

body{
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: white;
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

header nav{
    width: 60%;
    border-bottom: 1px solid #0000FE;
    height: 55px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header a{
    text-decoration: none;
    color: black;
}

.botao{
    width: 80px;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0000fe1c;
    text-align: center;
    transition: 0.4s;
}

.botao:hover{
    scale: 1.2;
    transition: 0.2s;
}
/* FIM DO ESTILO HEADER */


/* ESTILO MEDIDADIV_01 */

.medidaDiv_01{
    width: 100vw;
    height: 700px;
    border: 1px solid black;
}

/* FIM DO ESTILO MEDIDADIV_01 */



/* ESTILO CAIXA INICIO */

#caixaInicio{
    display: flex;
    align-items: center;
}

.titulo{
    margin-left: 69px;
}

 #caixaInicio .titulo > h1{
    font-size: 120px;
    background: linear-gradient(to right ,#0000FE, #90CAF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

#caixaInicio .titulo > p{
    font-size: 24px;
    margin-left: 4px;
    color: #B7B7B8;
}

/* FIM ESTILO CAIXA INICIO */



/* --------------------------caixaHABILIDADES------------------------ */

#caixaHabilidades .titulo > h1{
    font-size: 120px;
    background: linear-gradient(to right ,#0000FE, #90CAF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-top: 40px;
}

#skills{
    width: 80vw;
    height: 300px;
    border: 1px solid #B7B7B8;
    border-radius: 15px;
    margin-left: 10vw;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experiencia{
    border: 1px solid #B7B7B8;
    width: 1000px;
    height: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    
}

#skills_01{
    background-color: #0000FE;
    width: 720px;
    height: 20px;
    border-radius: 20px;
    animation: mymove 5s infinite;
}

#skills_02{
    background-color: #0000FE;
    width: 450px;
    height: 20px;
    border-radius: 20px;
    animation: mymove2 5s infinite;
}

#skills_03{
    background-color: #0000FE;
    width: 100px;
    height: 20px;
    border-radius: 20px;
    animation: mymove3 5s infinite;
}

#skills_04{
    background-color: #0000FE;
    width: 300px;
    height: 20px;
    border-radius: 20px;
    animation: mymove4 5s infinite;
}

@keyframes mymove {
    0%{
        width: 30px;
        transition-duration: 0.2s;
    }

    100%{
        width: 700px;
        transition-duration: 0.2s;
    
    }
}

@keyframes mymove2 {
    0%{
        width: 30px;
        transition-duration: 0.2s;
    }

    100%{
        width: 450px;
        transition-duration: 0.2s;
    }
}

@keyframes mymove3 {
    0%{
        width: 30px;
        transition-duration: 0.2s;
    }

    100%{
        width: 100px;
        transition-duration: 0.2s;
    }
}

@keyframes mymove4 {
    0%{
        width: 30px;
        transition-duration: 0.2s;
    }

    100%{
        width: 300px;
        transition-duration: 0.2s;
    }
}



/* -------------------------------------------------- */




#caixaSobremim .titulo > h1{
    font-size: 120px;
    background: linear-gradient(to right ,#0000FE, #90CAF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-top: 40px;
}



/* --------------------------caixaREDES------------------------ */


#caixaRedes .titulo > h1{
    font-size: 120px;
    background: linear-gradient(to right ,#0000FE, #90CAF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-top: 40px;
}

#icones_redes{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    margin-left: 10vw;
    height: 300px;
}

#primeiraRede, #segundaRede{
    border: 1px solid #aaaaaa;
    width: 20vw;
    height: 40vh;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 13px;
    transition: 0.5s;
}

.textoRede{
    font-size: 20px;
    padding: 10px;
}

.textoRede > a{
    text-decoration: none;
}

#primeiraRede:hover{
    box-shadow: 0px 0px 10px #0000FE;
    background-color: #0000FE;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}

#segundaRede:hover{
    box-shadow: 0px 0px 10px #0000FE;
    background-color: #0000FE;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}



/* -------------------------------------------------- */


footer{
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
    font-size: 15px;
}